<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YSMADataManagement.Properties.Settings.ancienttempledbConnectionString"
            connectionString="server=5.172.201.61;user id=templeuser;password=!temple$1;persistsecurityinfo=True;database=ancienttempledb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>